nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #ccc;
}

.active {
    background-color: #646cff;
    color: #ccc;
}